@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

pre[class*="language-"] {
  padding: 20px !important;
  overflow: hidden !important;
}

pre * {
  font-family: 'Chivo Mono' !important;
}


code[class*="language-"],
.heightPlaceHolder {
  white-space: normal !important;
  overflow: auto !important;
  word-break: break-word !important;
}

.heightPlaceHolder {
  margin-left: 50px;
  visibility: hidden;
}

code[class*="language-"] span.line {
  position: relative;
  display: block !important;
}

code[class*="language-"] span.line-no {
  position: absolute;
  left: 0 !important;
  text-align: right;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.code-listing.prism-number-theme-light {
  span.line .line-no {
    color: #444;
  }

  span.line:nth-child(even) .line-no {
    color: #000;
  }
}

.code-listing.prism-number-theme-dark {
  span.line .line-no {
    color: #ddd;
  }

  span.line:nth-child(even) .line-no {
    color: #fafafa;
  }
}

.code-listing {
  position: relative;
}

.code-listing .copy-icon {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  text-align: right;
  cursor: pointer;
  z-index: 2;
}

.code-listing .copy-icon:hover {
  opacity: 1;
}

.code-listing .cypo-icon img {
  width: 30px;
  height: 30px;
}

.code-listing .copy-icon .copied {
  position: absolute;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 3px;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.code-listing .copy-icon .copied.show {
  opacity: 1;
}

code[class*="language-"],
.heightPlaceHolder {
  font-size: 16px !important;
  font-variant-ligatures: none;
}

@media screen and (max-width: 600px) {

  code[class*="language-"],
  .heightPlaceHolder {
    font-size: 13px !important;
  }
}